.searchInput {
  display: inline-block;
  width: 50%;
}

.searchResult {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.searchResult > .uk-card-title {
  margin-bottom: 0px;
}

.searchResult > p {
  margin-top: 0px;
}
